		




<section class="footer">
	<div class="constrainer">
		<div class="footer-col-container">
			<div class="footer-col col-xs-6 col-sm-4">
				<p><b>Remot.ly</b> is a ptototype/ proof of concept thing for the May, 26th Angular Attack hackathon.</p>
			</div>
			<div class="footer-col col-xs-6 col-sm-2 col-sm-offset-2">

			</div>
			<div class="footer-col col-xs-6 col-sm-2">

			</div>
			<div class="footer-col col-xs-6 col-sm-2">

			</div>
		</div>	
	</div>
</section>