

<section class="logos clearfix">
	<div class="constrainer">

		<h1 class="section-header">Web-generated leads go cold fast and companies are way too slow to respond</h1>

		<div class="customers-wrap clearfix">
			<p class="customer-txt">Companies in every industry are investing heavily in online advertising, but are missing out on a significant proportion of incoming leads.</p>
			<p class="customer-txt">Harvard’s research shows many organisations are too slow to follow up on these sales opportunities.
			<p class="customer-txt">“We audited 2,241 US companies, measuring how long each took to respond to a web-generated test lead. Although 37% responded to the lead within an hour, and 16% responded within one to 24 hours, 24% took more than 24 hours — and 23% of the companies never responded at all.”</p>
			<p class="customer-txt">These results are especially shocking given how quickly online leads go cold — a phenomenon explored in a separate study, which found that firms contacting potential customers within an hour of receiving a query were seven times as likely to qualify the lead as those that tried to contact the customer even an hour later</p>
		</div>

	</div>
</section>