<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>

</head>

<body>

	<!-- HOME MAIN NAV -->
	<% include ../partials/index-nav-main %>

	<!-- HOME MOBILE NAV -->
	<% include ../partials/index-nav-mobile %>


	<!-- HOME BANNER TEXT/ FIELDS -->

	<div class="CoverImage">
		<h1 class="banner-h1">Respond remotely. <br>Instantly.</h1>	
	</div>



	<!-- QUOTE MODAL -->
	<% include ../partials/modal-quote %>


	<!-- STEPS -->
		
	<section class="steps clearfix">

		<div class="constrainer">
			<h1 class="section-header steps-header">Connect your remote sales team to incoming leads for the fastest possible response time.</h1>

			<div class="step-container clearfix">
				<div class="steps-img col-sm-4">
					<img src="img/icon-form.png">
					<p class="step-graph">Perspective customers visit a company's website and fill out a lead form.</p>
				</div>
				<div class="steps-img steps-img1 col-sm-4">
					<img src="img/icon-twillio.png">
					<p class="step-graph">The form data is relayed to that company's remote sales team via sms, 24/7</p>
				</div>
				<div class="steps-img steps-img1 col-sm-4">
					<img src="img/icon-bulb.png">
					<p class="step-graph">The sales team members compete to return the call, radically reducing response time</p>
				</div>
			</div>
		</div>

	</section>


	<!-- LOGOS -->
	<% include ../partials/logos %>


	<!-- FOOTER -->
	<% include ../partials/footer %>


</body>


</html>